esp32_arm/src/MyApps/cnc_machine/sillicon_pump/node_red/flow.json
[
    {
        "id": "7238de2c97acefc9",
        "type": "tab",
        "label": "Silicon pump",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e9f582a1fbeb8a7",
        "type": "group",
        "z": "7238de2c97acefc9",
        "name": "Skin",
        "style": {
            "label": true
        },
        "nodes": [
            "9313121829528cde",
            "4b9e74eaed2b6f1e",
            "7a4be0876e484889",
            "25950c97733d9302",
            "00abfdf2156ffb40"
        ],
        "x": 174,
        "y": 259,
        "w": 812,
        "h": 82
    },
    {
        "id": "fc5f422ed6dc2f3d",
        "type": "group",
        "z": "7238de2c97acefc9",
        "name": "Foam",
        "style": {
            "label": true
        },
        "nodes": [
            "dcade5c67e094336",
            "754ee425a2aaaf86",
            "f923fc4673526c0f",
            "79cd47ca1b150e1f",
            "811f7558c6c8adeb"
        ],
        "x": 174,
        "y": 119,
        "w": 812,
        "h": 82
    },
    {
        "id": "dcade5c67e094336",
        "type": "ui_slider",
        "z": "7238de2c97acefc9",
        "g": "fc5f422ed6dc2f3d",
        "name": "",
        "label": "容积",
        "tooltip": "",
        "group": "b99d5a3313015b50",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "f923fc4673526c0f"
            ]
        ]
    },
    {
        "id": "754ee425a2aaaf86",
        "type": "ui_button",
        "z": "7238de2c97acefc9",
        "g": "fc5f422ed6dc2f3d",
        "name": "",
        "group": "b99d5a3313015b50",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "泵出",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 160,
        "wires": [
            [
                "811f7558c6c8adeb"
            ]
        ]
    },
    {
        "id": "f923fc4673526c0f",
        "type": "ui_numeric",
        "z": "7238de2c97acefc9",
        "g": "fc5f422ed6dc2f3d",
        "name": "volume",
        "label": "单份容积(ml)",
        "tooltip": "",
        "group": "b99d5a3313015b50",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 160,
        "wires": [
            [
                "79cd47ca1b150e1f"
            ]
        ]
    },
    {
        "id": "20cba90496f833dd",
        "type": "mqtt out",
        "z": "7238de2c97acefc9",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "79cd47ca1b150e1f",
        "type": "function",
        "z": "7238de2c97acefc9",
        "g": "fc5f422ed6dc2f3d",
        "name": "save to flow var",
        "func": "flow.set('foam_volume', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "811f7558c6c8adeb",
        "type": "function",
        "z": "7238de2c97acefc9",
        "g": "fc5f422ed6dc2f3d",
        "name": "publish",
        "func": "msg.topic = \"sillicon/pump/foam\"\nvar v = flow.get('foam_volume');\nmsg.payload = 'G1X'+ v +'Y' + v + 'Z' + v; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 160,
        "wires": [
            [
                "20cba90496f833dd"
            ]
        ]
    },
    {
        "id": "9313121829528cde",
        "type": "ui_slider",
        "z": "7238de2c97acefc9",
        "g": "0e9f582a1fbeb8a7",
        "name": "",
        "label": "容积",
        "tooltip": "",
        "group": "aa0299b8a06bcd35",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1000",
        "step": "10",
        "className": "",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "4b9e74eaed2b6f1e"
            ]
        ]
    },
    {
        "id": "4b9e74eaed2b6f1e",
        "type": "ui_numeric",
        "z": "7238de2c97acefc9",
        "g": "0e9f582a1fbeb8a7",
        "name": "volume",
        "label": "单份容积(ml)",
        "tooltip": "",
        "group": "aa0299b8a06bcd35",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 300,
        "wires": [
            [
                "25950c97733d9302"
            ]
        ]
    },
    {
        "id": "7a4be0876e484889",
        "type": "ui_button",
        "z": "7238de2c97acefc9",
        "g": "0e9f582a1fbeb8a7",
        "name": "",
        "group": "aa0299b8a06bcd35",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "泵出",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "topic",
        "topicType": "msg",
        "x": 750,
        "y": 300,
        "wires": [
            [
                "00abfdf2156ffb40"
            ]
        ]
    },
    {
        "id": "25950c97733d9302",
        "type": "function",
        "z": "7238de2c97acefc9",
        "g": "0e9f582a1fbeb8a7",
        "name": "save to flow var",
        "func": "flow.set('skin_volume', msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "00abfdf2156ffb40",
        "type": "function",
        "z": "7238de2c97acefc9",
        "g": "0e9f582a1fbeb8a7",
        "name": "publish",
        "func": "msg.topic = \"sillicon/pump/skin\"\n// msg.payload= \"G92\";\nvar v = flow.get('skin_volume');\nmsg.payload = 'G1X' + v + 'Y' + v + 'Z' + v;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "20cba90496f833dd",
                "7553e30ffd8afa8a"
            ]
        ]
    },
    {
        "id": "7553e30ffd8afa8a",
        "type": "debug",
        "z": "7238de2c97acefc9",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 380,
        "wires": []
    },
    {
        "id": "b99d5a3313015b50",
        "type": "ui_group",
        "name": "Foam HY-666 (4 pumps)",
        "tab": "2629be82a539fce2",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d506186f8ae701",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "aa0299b8a06bcd35",
        "type": "ui_group",
        "name": "Skin HY-610 (3 pumps)",
        "tab": "2629be82a539fce2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2629be82a539fce2",
        "type": "ui_tab",
        "name": "Silicon Pump",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]