esp32_arm/src/MyApps/teeth_wh_v2/nodered/twh_221109.json
[
    {
        "id": "3b3b51ba9856c9a7",
        "type": "tab",
        "label": "twh_221109",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0675c2ab82033d99",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e8349c823e922a57",
            "107cb88c3a83db82",
            "1201040fee0d15a5",
            "1de4b985908f8384",
            "9b23dd2b3fb0c0fa",
            "17d09a4fd259539d",
            "0402892a8b40f6c0",
            "82c12bd2863e0963",
            "3aeb6c3126fd9d50"
        ],
        "x": 2194,
        "y": 159,
        "w": 812,
        "h": 342
    },
    {
        "id": "a5e548eb69c963f2",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "response to user",
        "style": {
            "label": true
        },
        "nodes": [
            "91ea0c05b989b037",
            "42af1cb4a5b99cf4",
            "97128cda05717535"
        ],
        "x": 814,
        "y": 1299,
        "w": 432,
        "h": 142
    },
    {
        "id": "8f4b1fa53febb784",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "save to files (a fake database)",
        "style": {
            "label": true
        },
        "nodes": [
            "6f75cbb5b20dcf69",
            "f80a2d23a1f79baf",
            "3f5e8d668ec104c0"
        ],
        "x": 814,
        "y": 1513,
        "w": 1118,
        "h": 254
    },
    {
        "id": "348e4634e2fb33e2",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "Init csv files",
        "style": {
            "label": true
        },
        "nodes": [
            "5d12602f7fdb221d",
            "9be03819ec3f0ef6",
            "43b061c80da4951e",
            "a739736c78c163dc",
            "120895284cd908e6"
        ],
        "x": 294,
        "y": 199,
        "w": 792,
        "h": 122
    },
    {
        "id": "aae3ceec0c3a44c7",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "user entrance",
        "style": {
            "label": true
        },
        "nodes": [
            "b86a61a159912718",
            "d2daf55a59bfd57d",
            "1f0cbed7523d21c7",
            "7386455eeb4c7aaa",
            "cf97895e5b37fdfa",
            "f40f94efbe1b12da"
        ],
        "x": 294,
        "y": 539,
        "w": 672,
        "h": 202
    },
    {
        "id": "fdc2fb7e5de3a7b4",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "Reload CSV",
        "style": {
            "label": true
        },
        "nodes": [
            "057f2be9e8e99840",
            "d500f56e21ba7cd3",
            "91bf9325cd74c6cb",
            "eb1849d6a1058314",
            "fa8f7eed45a7946f",
            "c0ebaaf7af95bd2f",
            "44c1212393dc3495"
        ],
        "x": 294,
        "y": 339,
        "w": 812,
        "h": 162
    },
    {
        "id": "4f89256fe5d7b4bd",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "601a59e9b5ebc17e",
            "bc7bc818adb4a317",
            "9fd4ed75c941d7db"
        ],
        "x": 274,
        "y": 1319,
        "w": 312,
        "h": 262
    },
    {
        "id": "c84e9bdfcdd9622c",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "gcode syncer:  From Amq to Esp32:    \"twh_221109\"   only",
        "style": {
            "label": true
        },
        "nodes": [
            "16ca59e0e78e000c",
            "1fc120fb37d76447",
            "91df2c6e8b4c86aa",
            "06e1b3060fdb78e3",
            "497fbcf1fac175b6",
            "0a1a25a034f855a0",
            "deac9204a715aeb9",
            "e103a603dc3955c4",
            "a6994a782a4f9f83",
            "28967f28423812cd",
            "6c045c858d53c619"
        ],
        "x": 234,
        "y": 2133,
        "w": 1638,
        "h": 288
    },
    {
        "id": "6f75cbb5b20dcf69",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "g": "8f4b1fa53febb784",
        "name": "Append record",
        "style": {
            "label": true
        },
        "nodes": [
            "99b5a527becdd40a",
            "d630c041ff2249fc",
            "af889340e4ad9a82",
            "6386830edd2a3f73"
        ],
        "x": 1094,
        "y": 1659,
        "w": 812,
        "h": 82
    },
    {
        "id": "f80a2d23a1f79baf",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "g": "8f4b1fa53febb784",
        "name": "update stock file",
        "style": {
            "label": true
        },
        "nodes": [
            "415e144fae24c102",
            "b175f7bb99b837b8",
            "5551b61f8679f4d4",
            "0a7a22f02c03e0bb"
        ],
        "x": 1094,
        "y": 1539,
        "w": 812,
        "h": 82
    },
    {
        "id": "28967f28423812cd",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "Fake feedback for debug",
        "style": {
            "label": true
        },
        "nodes": [
            "34bf51da37bc5553",
            "5f8384ece0aab120"
        ],
        "x": 1334,
        "y": 2159,
        "w": 512,
        "h": 82
    },
    {
        "id": "1a9e515cc5cd13d7",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "Debug triggers",
        "style": {
            "label": true
        },
        "nodes": [
            "4bea98f760f6d93d",
            "c62c0edda53adde3",
            "771b8fd3e7a7aa8e",
            "80d1c94e390c77d5",
            "b22a4529b8650f22"
        ],
        "x": 14,
        "y": 899,
        "w": 232,
        "h": 782
    },
    {
        "id": "e8349c823e922a57",
        "type": "ui_dropdown",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "label": "品牌",
        "tooltip": "",
        "place": "Select option",
        "group": "0ef930b72091b7f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "IBM",
                "value": "ibm",
                "type": "str"
            },
            {
                "label": "Intel",
                "value": "intel",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2270,
        "y": 200,
        "wires": [
            [
                "3aeb6c3126fd9d50"
            ]
        ]
    },
    {
        "id": "107cb88c3a83db82",
        "type": "ui_dropdown",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "label": "牙位",
        "tooltip": "",
        "place": "Select option",
        "group": "0ef930b72091b7f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "上左门牙",
                "value": "ibm",
                "type": "str"
            },
            {
                "label": "下左门牙",
                "value": "intel",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2270,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "1201040fee0d15a5",
        "type": "ui_dropdown",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "label": "颜色",
        "tooltip": "",
        "place": "Select option",
        "group": "0ef930b72091b7f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "白",
                "value": "ibm",
                "type": "str"
            },
            {
                "label": "黄",
                "value": "intel",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2270,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1de4b985908f8384",
        "type": "ui_dropdown",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "label": "大小",
        "tooltip": "",
        "place": "Select option",
        "group": "0ef930b72091b7f3",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "大",
                "value": "ibm",
                "type": "str"
            },
            {
                "label": "中",
                "value": "intel",
                "type": "str"
            },
            {
                "label": "小",
                "value": "小",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2270,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "9b23dd2b3fb0c0fa",
        "type": "ui_button",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "group": "0ef930b72091b7f3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "出库",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 2270,
        "y": 460,
        "wires": [
            [
                "17d09a4fd259539d"
            ]
        ]
    },
    {
        "id": "17d09a4fd259539d",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "GetRowCol",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2490,
        "y": 460,
        "wires": [
            [
                "82c12bd2863e0963"
            ]
        ]
    },
    {
        "id": "0402892a8b40f6c0",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "",
        "topic": "twh/test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 2920,
        "y": 460,
        "wires": []
    },
    {
        "id": "82c12bd2863e0963",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "ConvertTo Gcode",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2710,
        "y": 460,
        "wires": [
            [
                "0402892a8b40f6c0"
            ]
        ]
    },
    {
        "id": "3aeb6c3126fd9d50",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "0675c2ab82033d99",
        "name": "function 1",
        "func": "flow.set('brand', msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "601a59e9b5ebc17e",
        "type": "http in",
        "z": "3b3b51ba9856c9a7",
        "g": "4f89256fe5d7b4bd",
        "name": "withdraw",
        "url": "/twh/withdraw",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 1360,
        "wires": [
            [
                "9fd4ed75c941d7db"
            ]
        ]
    },
    {
        "id": "91ea0c05b989b037",
        "type": "http response",
        "z": "3b3b51ba9856c9a7",
        "g": "a5e548eb69c963f2",
        "name": "response to user",
        "statusCode": "",
        "headers": {
            "title": "ddff"
        },
        "x": 1130,
        "y": 1360,
        "wires": [],
        "inputLabels": [
            "aa"
        ]
    },
    {
        "id": "b86a61a159912718",
        "type": "http in",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "withdraw entrance",
        "url": "/twh/withdraw",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 700,
        "wires": [
            [
                "1f0cbed7523d21c7"
            ]
        ]
    },
    {
        "id": "d2daf55a59bfd57d",
        "type": "http response",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "withdraw page",
        "statusCode": "",
        "headers": {
            "title": "ddff"
        },
        "x": 860,
        "y": 700,
        "wires": [],
        "inputLabels": [
            "aa"
        ]
    },
    {
        "id": "1f0cbed7523d21c7",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "withdraw page",
        "filename": "/home/xm/twh/withdraw.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 700,
        "wires": [
            [
                "d2daf55a59bfd57d"
            ]
        ]
    },
    {
        "id": "5d12602f7fdb221d",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "348e4634e2fb33e2",
        "name": "Init csv files",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 260,
        "wires": [
            [
                "43b061c80da4951e",
                "120895284cd908e6"
            ]
        ]
    },
    {
        "id": "bc7bc818adb4a317",
        "type": "switch",
        "z": "3b3b51ba9856c9a7",
        "g": "4f89256fe5d7b4bd",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 510,
        "y": 1540,
        "wires": [
            [
                "42af1cb4a5b99cf4"
            ],
            [
                "021830f9f7d66802",
                "97128cda05717535",
                "3f5e8d668ec104c0"
            ]
        ]
    },
    {
        "id": "42af1cb4a5b99cf4",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "a5e548eb69c963f2",
        "name": "out of stock",
        "filename": "/home/xm/twh/outstock.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 910,
        "y": 1340,
        "wires": [
            [
                "91ea0c05b989b037"
            ]
        ]
    },
    {
        "id": "97128cda05717535",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "a5e548eb69c963f2",
        "name": "on the go",
        "filename": "/home/xm/twh/onthego.txt",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 900,
        "y": 1400,
        "wires": [
            [
                "91ea0c05b989b037"
            ]
        ]
    },
    {
        "id": "057f2be9e8e99840",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "read stock",
        "filename": "/home/xm/twh/stock.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 380,
        "wires": [
            [
                "d500f56e21ba7cd3"
            ]
        ]
    },
    {
        "id": "d500f56e21ba7cd3",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "csv to json",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 810,
        "y": 380,
        "wires": [
            [
                "91bf9325cd74c6cb"
            ]
        ]
    },
    {
        "id": "99b5a527becdd40a",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "g": "6f75cbb5b20dcf69",
        "name": "json to csv - record",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1610,
        "y": 1700,
        "wires": [
            [
                "6386830edd2a3f73"
            ]
        ]
    },
    {
        "id": "d630c041ff2249fc",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "6f75cbb5b20dcf69",
        "name": "append record",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1700,
        "wires": [
            [
                "99b5a527becdd40a"
            ]
        ],
        "info": "Insert:\r\n - record:\r\n  - username, id_product, time\r\n\r\n update:\r\n - entity: \r\n  - in_stock_quantity"
    },
    {
        "id": "af889340e4ad9a82",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "6f75cbb5b20dcf69",
        "name": "read record",
        "filename": "/home/xm/twh/stock",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1190,
        "y": 1700,
        "wires": [
            [
                "d630c041ff2249fc"
            ]
        ]
    },
    {
        "id": "415e144fae24c102",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "g": "f80a2d23a1f79baf",
        "name": "json to csv - stock",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1610,
        "y": 1580,
        "wires": [
            [
                "0a7a22f02c03e0bb"
            ]
        ]
    },
    {
        "id": "b175f7bb99b837b8",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "f80a2d23a1f79baf",
        "name": "update in-stock-quantity",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1580,
        "wires": [
            [
                "415e144fae24c102"
            ]
        ],
        "info": "Insert:\r\n - record:\r\n  - username, id_product, time\r\n\r\n update:\r\n - entity: \r\n  - in_stock_quantity"
    },
    {
        "id": "5551b61f8679f4d4",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "f80a2d23a1f79baf",
        "name": "read stock",
        "filename": "/home/xm/twh/stock.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 1190,
        "y": 1580,
        "wires": [
            [
                "b175f7bb99b837b8"
            ]
        ]
    },
    {
        "id": "3f5e8d668ec104c0",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "8f4b1fa53febb784",
        "name": "create record file name",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1640,
        "wires": [
            [
                "5551b61f8679f4d4",
                "af889340e4ad9a82"
            ]
        ]
    },
    {
        "id": "9be03819ec3f0ef6",
        "type": "file",
        "z": "3b3b51ba9856c9a7",
        "g": "348e4634e2fb33e2",
        "name": "write stock.csv",
        "filename": "/home/xm/twh/stock.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 980,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "43b061c80da4951e",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "348e4634e2fb33e2",
        "name": "create single product",
        "func": "msg.payload = { \"id\": 1, \"twh_id\": 221104, \"row\": 5, \"col\": 6, \"brand\": \"好口腔\", \"color\": \"白\", \"size\": \"大\", \"shape\": \"方\", \"location_vertical\": \"上\", \"location_horizontal\": \"左\", \"location_index\": 7,  \"in_stock_quantity\":5};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 240,
        "wires": [
            [
                "a739736c78c163dc"
            ]
        ]
    },
    {
        "id": "a739736c78c163dc",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "g": "348e4634e2fb33e2",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "9be03819ec3f0ef6"
            ]
        ]
    },
    {
        "id": "91bf9325cd74c6cb",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "Set stock",
        "func": "flow.set('stock',msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "120895284cd908e6",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "348e4634e2fb33e2",
        "name": "create single user",
        "func": "// msg.payload = \"'id', 'twh_id', 'row', 'col', 'brand', 'color', 'size', 'shape', 'in_stock_quantity'\";\n// msg.payload = \"1,221104,5,6,好口腔,白,中,尖锐,0\";\nmsg.payload = {\"uid\":\"my_uid\", \"password\":\"my_password\"};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 280,
        "wires": [
            [
                "84cfd1e31cca5708"
            ]
        ]
    },
    {
        "id": "84cfd1e31cca5708",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "sep": ",",
        "hdrin": false,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 810,
        "y": 280,
        "wires": [
            [
                "0fa64dd96f9e143d"
            ]
        ]
    },
    {
        "id": "0fa64dd96f9e143d",
        "type": "file",
        "z": "3b3b51ba9856c9a7",
        "name": "write user.csv",
        "filename": "/home/xm/twh/user.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 980,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "9fd4ed75c941d7db",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "4f89256fe5d7b4bd",
        "name": "Get in_stock_quantity",
        "func": "// var id_product = 1\n// var json = JSON.parse(msg.payload);\n// msg.payload = json;\nvar request = msg.payload;\nvar result = null;\nvar stocks = flow.get('stock');\n\n\n// for(var st in stocks){\n//     // if (st[\"id\"]==1)\n//         msg.payload = st;\n// }\n\nfor (var i=0; i<stocks.length;i++){\n    var stock= stocks[i];\n    if (stock[\"color\"] == request[\"color\"])\n        if (stock[\"size\"] == request[\"size\"])\n            if (stock[\"shape\"] == request[\"shape\"])\n                if (stock[\"location_vertical\"] == request[\"location_vertical\"])\n                    if (stock[\"location_horizontal\"] == request[\"location_horizontal\"])\n                        if (stock[\"location_index\"] == request[\"location_index\"])\n                            result = stock;\n}\nmsg.payload = result;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1440,
        "wires": [
            [
                "bc7bc818adb4a317"
            ]
        ]
    },
    {
        "id": "eb1849d6a1058314",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "Read  CSV",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 410,
        "y": 420,
        "wires": [
            [
                "057f2be9e8e99840",
                "fa8f7eed45a7946f"
            ]
        ]
    },
    {
        "id": "fa8f7eed45a7946f",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "read user",
        "filename": "/home/xm/twh/user.csv",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 620,
        "y": 460,
        "wires": [
            [
                "c0ebaaf7af95bd2f"
            ]
        ]
    },
    {
        "id": "c0ebaaf7af95bd2f",
        "type": "csv",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "csv to json",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "mult",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 810,
        "y": 460,
        "wires": [
            [
                "44c1212393dc3495"
            ]
        ]
    },
    {
        "id": "44c1212393dc3495",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "fdc2fb7e5de3a7b4",
        "name": "Set user",
        "func": "flow.set('user',msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0a7a22f02c03e0bb",
        "type": "file",
        "z": "3b3b51ba9856c9a7",
        "g": "f80a2d23a1f79baf",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1820,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "6386830edd2a3f73",
        "type": "file",
        "z": "3b3b51ba9856c9a7",
        "g": "6f75cbb5b20dcf69",
        "name": "",
        "filename": "",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1820,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "021830f9f7d66802",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "Create pickups",
        "func": "for (var i=1;i<948;i++){\n    var row = i *2;\n    var col = i;\n    var is_withdraw = true;\n    msg.topic = \"twh_withdraw\";\n    msg.payload = {'dev':'221109', 'command': 'withdraw', 'cell': { 'row': 1, 'col': 1 } };\n    node.send(msg);\n}\nmsg.payload = {'dev':'221109','command':'end_withdraw'};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1860,
        "wires": [
            [
                "01400a149a6286e8",
                "cfbdcb43961174da"
            ]
        ],
        "info": "output\r\n\r\n\r\n{\r\n    \"is_withdraw\": bool,\r\n    \"\"row_col\":[(2,3),(4,5),(5,6)]\r\n}"
    },
    {
        "id": "01400a149a6286e8",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "name": "debug 13",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 1920,
        "wires": []
    },
    {
        "id": "4bea98f760f6d93d",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "1a9e515cc5cd13d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1640,
        "wires": [
            [
                "021830f9f7d66802"
            ]
        ]
    },
    {
        "id": "16ca59e0e78e000c",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "",
        "topic": "twh_221109_gcode_feedback",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 2360,
        "wires": [
            [
                "497fbcf1fac175b6"
            ]
        ]
    },
    {
        "id": "1fc120fb37d76447",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "",
        "topic": "twh_221109_gcode_feed",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1450,
        "y": 2380,
        "wires": []
    },
    {
        "id": "91df2c6e8b4c86aa",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "is equal or not",
        "func": "var gcode = flow.get('twh_221109_gcode');\nvar feedback = flow.get('twh_221109_gcode_feedback');\n\n// if (feedback == gcode.payload){\n//     // node.warn(\"Got correct feedback from Esp32\");\n//     msg=gcode\n// }else{\n//     node.warn(\"Expected feedback\");\n//     node.warn(gcode.payload);\n//     msg = null\n// }\n\nif (feedback.payload == gcode.payload)\n    msg.case = true;\nelse\n    msg.case = false;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 2320,
        "wires": [
            [
                "deac9204a715aeb9"
            ]
        ]
    },
    {
        "id": "06e1b3060fdb78e3",
        "type": "amqp-in-manual-ack",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "",
        "broker": "2de97a4d668ad4f7",
        "prefetch": "1",
        "noAck": false,
        "exchangeName": "",
        "exchangeType": "topic",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "twh_221109_gcode",
        "queueExclusive": false,
        "queueDurable": true,
        "queueAutoDelete": false,
        "headers": "{}",
        "x": 900,
        "y": 2180,
        "wires": [
            [
                "0a1a25a034f855a0"
            ]
        ]
    },
    {
        "id": "497fbcf1fac175b6",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "set feedback",
        "func": "flow.set (\"twh_221109_gcode_feedback\", msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 2360,
        "wires": [
            [
                "91df2c6e8b4c86aa"
            ]
        ]
    },
    {
        "id": "0a1a25a034f855a0",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "set gcode",
        "func": "flow.set (\"twh_221109_gcode\", msg)\n// node.warn(msg)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 2300,
        "wires": [
            [
                "91df2c6e8b4c86aa"
            ]
        ]
    },
    {
        "id": "deac9204a715aeb9",
        "type": "switch",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "",
        "property": "case",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 2320,
        "wires": [
            [
                "e103a603dc3955c4"
            ],
            [
                "a6994a782a4f9f83"
            ]
        ]
    },
    {
        "id": "e103a603dc3955c4",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "Restore msg to ack AMQ",
        "func": "msg = flow.get('twh_221109_gcode');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 2180,
        "wires": [
            [
                "06e1b3060fdb78e3"
            ]
        ]
    },
    {
        "id": "a6994a782a4f9f83",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "new gcode feeding",
        "func": "var gcode = flow.get('twh_221109_gcode');\nmsg = gcode;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1210,
        "y": 2360,
        "wires": [
            [
                "1fc120fb37d76447",
                "6c045c858d53c619"
            ]
        ]
    },
    {
        "id": "34bf51da37bc5553",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "28967f28423812cd",
        "name": "",
        "topic": "twh_221109_gcode_feedback",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1690,
        "y": 2200,
        "wires": []
    },
    {
        "id": "5f8384ece0aab120",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "g": "28967f28423812cd",
        "name": "fake feedback",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1440,
        "y": 2200,
        "wires": [
            [
                "34bf51da37bc5553"
            ]
        ]
    },
    {
        "id": "6c045c858d53c619",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "g": "c84e9bdfcdd9622c",
        "name": "debug 14",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 2320,
        "wires": []
    },
    {
        "id": "7386455eeb4c7aaa",
        "type": "http in",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "/wth/home",
        "url": "/twh/home",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 380,
        "y": 580,
        "wires": [
            [
                "cf97895e5b37fdfa"
            ]
        ]
    },
    {
        "id": "cf97895e5b37fdfa",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "home page",
        "filename": "/home/xm/twh/home.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "f40f94efbe1b12da"
            ]
        ]
    },
    {
        "id": "f40f94efbe1b12da",
        "type": "http response",
        "z": "3b3b51ba9856c9a7",
        "g": "aae3ceec0c3a44c7",
        "name": "home page",
        "statusCode": "",
        "headers": {
            "title": "ddff"
        },
        "x": 850,
        "y": 580,
        "wires": [],
        "inputLabels": [
            "aa"
        ]
    },
    {
        "id": "22ae2fec5d0a15aa",
        "type": "http in",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit entrance",
        "url": "/twh/deposit",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 860,
        "wires": [
            [
                "0017e43483bddc48",
                "3787d65993d296af"
            ]
        ]
    },
    {
        "id": "0017e43483bddc48",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit page",
        "filename": "/home/xm/twh/deposit.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 590,
        "y": 860,
        "wires": [
            [
                "92e03b9d102038eb"
            ]
        ]
    },
    {
        "id": "92e03b9d102038eb",
        "type": "http response",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit form",
        "statusCode": "",
        "headers": {
            "title": "ddff"
        },
        "x": 810,
        "y": 860,
        "wires": [],
        "inputLabels": [
            "aa"
        ]
    },
    {
        "id": "3787d65993d296af",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "moving outside",
        "func": "flow.set('deposit_lock', true);\nmsg.topic = \"twh_deposit\";\nvar payload = {'dev':'221109','command':'prepare_deposit','cell':{'row':1, 'col':1}};\nmsg.payload = payload;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 940,
        "wires": [
            [
                "2cdc4d6662c66528"
            ]
        ],
        "info": "output\r\n\r\n\r\n{\r\n    \"is_withdraw\": bool,\r\n    \"\"row_col\":[(2,3),(4,5),(5,6)]\r\n}"
    },
    {
        "id": "170eb0d7275c1b66",
        "type": "amqp-out",
        "z": "3b3b51ba9856c9a7",
        "name": "deposite queue",
        "broker": "2de97a4d668ad4f7",
        "exchangeName": "twh",
        "exchangeType": "direct",
        "exchangeRoutingKey": "topic",
        "exchangeRoutingKeyType": "msg",
        "exchangeDurable": true,
        "amqpProperties": "{\"headers\":{}}",
        "rpcTimeoutMilliseconds": 3000,
        "outputs": 0,
        "x": 900,
        "y": 780,
        "wires": []
    },
    {
        "id": "b02d70b8444a93c0",
        "type": "http in",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit stater",
        "url": "/twh/deposit",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 1060,
        "wires": [
            [
                "60d91aa0acd0edc3",
                "7207478569b645c5"
            ]
        ]
    },
    {
        "id": "60d91aa0acd0edc3",
        "type": "file in",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit on the go page",
        "filename": "/home/xm/twh/deposit.html",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 600,
        "y": 1060,
        "wires": [
            [
                "db98f7ae3d9d707c"
            ]
        ]
    },
    {
        "id": "db98f7ae3d9d707c",
        "type": "http response",
        "z": "3b3b51ba9856c9a7",
        "name": "deposit on the go",
        "statusCode": "",
        "headers": {
            "title": "ddff"
        },
        "x": 830,
        "y": 1060,
        "wires": [],
        "inputLabels": [
            "aa"
        ]
    },
    {
        "id": "7207478569b645c5",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "get row,col",
        "func": "flow.set('deposit_lock', false);\nmsg.topic = \"twh_deposit\";\nvar payload = {'dev':'221109', 'command': 'start_deposit', 'cell': { 'row': 1, 'col': 1 } };\nmsg.payload = payload;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1140,
        "wires": [
            [
                "01bd9c7df8fe644f"
            ]
        ],
        "info": "output\r\n\r\n\r\n{\r\n    \"is_withdraw\": bool,\r\n    \"\"row_col\":[(2,3),(4,5),(5,6)]\r\n}"
    },
    {
        "id": "ba780da76ca5c37a",
        "type": "link in",
        "z": "3b3b51ba9856c9a7",
        "name": "enqueue",
        "links": [],
        "x": 765,
        "y": 780,
        "wires": [
            [
                "170eb0d7275c1b66",
                "70e2a058b9458b9d"
            ]
        ]
    },
    {
        "id": "2cdc4d6662c66528",
        "type": "link call",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "links": [
            "ba780da76ca5c37a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 820,
        "y": 940,
        "wires": [
            [
                "700854ac52270eef"
            ]
        ]
    },
    {
        "id": "01bd9c7df8fe644f",
        "type": "link call",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "links": [
            "ba780da76ca5c37a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 960,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "cfbdcb43961174da",
        "type": "link call",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "links": [
            "ba780da76ca5c37a"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1100,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "b22a4529b8650f22",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "1a9e515cc5cd13d7",
        "name": "prepare_deposit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 940,
        "wires": [
            [
                "3787d65993d296af"
            ]
        ]
    },
    {
        "id": "700854ac52270eef",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c62c0edda53adde3",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "1a9e515cc5cd13d7",
        "name": "start_deposit",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "7207478569b645c5"
            ]
        ]
    },
    {
        "id": "bbee5dd80c5ae3b5",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "init",
        "func": "",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set('deposit_lock', false);\n",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 780,
        "wires": [
            []
        ],
        "info": "output\r\n\r\n\r\n{\r\n    \"is_withdraw\": bool,\r\n    \"\"row_col\":[(2,3),(4,5),(5,6)]\r\n}"
    },
    {
        "id": "6855af11761696d5",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 340,
        "y": 1000,
        "wires": [
            [
                "7207478569b645c5"
            ]
        ]
    },
    {
        "id": "70e2a058b9458b9d",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 840,
        "wires": []
    },
    {
        "id": "993580d95b905a71",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "topic": "twh/221109/ir_state",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 390,
        "y": 1240,
        "wires": []
    },
    {
        "id": "771b8fd3e7a7aa8e",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "1a9e515cc5cd13d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "blocked",
        "payloadType": "str",
        "x": 150,
        "y": 1220,
        "wires": [
            [
                "993580d95b905a71"
            ]
        ]
    },
    {
        "id": "80d1c94e390c77d5",
        "type": "inject",
        "z": "3b3b51ba9856c9a7",
        "g": "1a9e515cc5cd13d7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "empty",
        "payloadType": "str",
        "x": 150,
        "y": 1280,
        "wires": [
            [
                "993580d95b905a71"
            ]
        ]
    },
    {
        "id": "0ef930b72091b7f3",
        "type": "ui_group",
        "name": "领料单",
        "tab": "17ea2549b9b3a315",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1d506186f8ae701",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2de97a4d668ad4f7",
        "type": "amqp-broker",
        "name": "rabbigMQ",
        "host": "localhost",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": false
    },
    {
        "id": "17ea2549b9b3a315",
        "type": "ui_tab",
        "name": "散牙领料",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]