esp32_arm/src/MyApps/iot/acupuncture_2023/node_red/flow_acupuncture.json
[
    {
        "id": "25c5022b18113ab0",
        "type": "tab",
        "label": "Acupuncture",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1a7f982897500d97",
        "type": "group",
        "z": "25c5022b18113ab0",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "30142ff0fe145d6a",
            "b415f1e529782f2c",
            "da500f5faf97d0fb",
            "bf245a19b0a62d77",
            "01c02ca64ace438b",
            "75ebc1ec5900f756",
            "3eee049bbe2d1503",
            "2361f32889a367d8"
        ],
        "x": 14,
        "y": 1179,
        "w": 832,
        "h": 502
    },
    {
        "id": "30142ff0fe145d6a",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "",
        "topic": "actp/001/u19p10",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1220,
        "wires": [
            [
                "da500f5faf97d0fb"
            ]
        ]
    },
    {
        "id": "b415f1e529782f2c",
        "type": "mqtt out",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "",
        "topic": "acpt/001/general",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 730,
        "y": 1380,
        "wires": []
    },
    {
        "id": "da500f5faf97d0fb",
        "type": "function",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "function 3",
        "func": "var input = msg;\nif (msg.topic == \"actp/001/u19p10\")   msg.payload = \"手三里\";\nif (msg.topic == \"actp/001/u19p11\") msg.payload = \"曲池\";\n\nmsg.topic = \"acpt/001/general\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "bf245a19b0a62d77",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "",
        "topic": "actp/001/u19p11",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1320,
        "wires": [
            [
                "da500f5faf97d0fb"
            ]
        ]
    },
    {
        "id": "01c02ca64ace438b",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "",
        "topic": "actp/001/*",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1500,
        "wires": [
            [
                "75ebc1ec5900f756"
            ]
        ]
    },
    {
        "id": "75ebc1ec5900f756",
        "type": "function",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "function 4",
        "func": "var input = msg;\nif (msg.topic == \"actp/001/u19p10\")   msg.payload = \"手三里\";\nif (msg.topic == \"actp/001/u19p11\") msg.payload = \"曲池\";\n\nmsg.topic = \"acpt/001/general\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "3eee049bbe2d1503",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "",
        "topic": "actp/001/#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 1640,
        "wires": [
            [
                "2361f32889a367d8"
            ]
        ]
    },
    {
        "id": "2361f32889a367d8",
        "type": "function",
        "z": "25c5022b18113ab0",
        "g": "1a7f982897500d97",
        "name": "function 5",
        "func": "var my_dict = { \"actp/001/u1910\": \"手三里\",\n    \"actp/001/u19p11\": \"曲池\",\n    \n};\n\nmsg.payload = my_dict[msg.topic];\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1640,
        "wires": [
            [
                "b415f1e529782f2c"
            ]
        ]
    },
    {
        "id": "7f2138b9453c6aaf",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "name": "",
        "topic": "acpt/101/nodes",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 280,
        "wires": [
            [
                "1a3546394e7d235e"
            ]
        ]
    },
    {
        "id": "39fbc6921a6b0ae3",
        "type": "ui_toast",
        "z": "25c5022b18113ab0",
        "position": "top left",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "1a3546394e7d235e",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state",
        "func": "\nfunction  replaceAt(str, index, replacement) {\n    return str.substring(0, index) + replacement + str.substring(index + replacement.length);\n}\n\nvar led_states = {};\nvar last_states = flow.get('last_node_states');\nif (last_states == null) last_states = 'DDDIIIDDDIIIDD'\n\nfor(var i=0; i<14; i++){\n    var new_code = msg.payload.charCodeAt(i);\n    var old_code = last_states.charCodeAt(i);\n\n    led_states[i] = false;\n    if (String.fromCharCode(new_code) == 'C') led_states[i] = true;\n    if (new_code != old_code) {\n        var new_char = String.fromCharCode(new_code);\n        // node.warn(new_char);\n        last_states =  replaceAt(last_states, i, new_char);\n        // node.warn(last_states);\n        // msg.payload = 'node #' + i + '   to online/offline';\n        msg.payload = last_states;\n        break;\n    }\n}\n// create message for notification.\n\nflow.set('last_node_states', last_states);\nflow.set('led_states', led_states);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 280,
        "wires": [
            [
                "39fbc6921a6b0ae3",
                "b5cbbba82ea1c24a",
                "f2c6f2f686109a3a",
                "e9125e5264525258",
                "6516eba5d0d6e7c0",
                "3c8207272a72b5aa",
                "fd5a599495fed1ee",
                "6d7f36d221f5e5ee",
                "af58b05e50ef625e",
                "777f3972c221ae3e",
                "ba819404251ef393",
                "f57e92ba2fac5a4c",
                "839d9aa2ab297c08"
            ]
        ]
    },
    {
        "id": "155849b1f2cdc020",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "name": "",
        "topic": "acpt/101/channels",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 480,
        "wires": [
            [
                "8bfdb22d305e4e75",
                "8408438a8d4451d9"
            ]
        ]
    },
    {
        "id": "8c8a4be681eba209",
        "type": "mqtt in",
        "z": "25c5022b18113ab0",
        "name": "",
        "topic": "acpt/101/sensor_value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1060,
        "wires": [
            [
                "3324e72032657097"
            ]
        ]
    },
    {
        "id": "8bfdb22d305e4e75",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "channels state",
        "func": "\nvar sensor_names = {\n        1: \"\", 2: \"\", 3: \"\", 4: \"\", 5: \"\",\n        6: \"\", 7: \"\", 8: \"\", 9: \"\", 10: \"\",\n        11: \"\", 12: \"\", 13: \"\", 14: \"\",        \n        \n        15: \"\", 16: \"\", 17: \"\", 18: \"\", 19: \"\",\n        20: \"\", 21: \"\", 22: \"\", 23: \"\", 24: \"\",\n        25: \"\", 26: \"\", 27: \"\", 28: \"\",\n        // #3 Node 右脚\n        29: \"右脚.太溪\", 30: \"右脚.大钟\", 31: \"右脚.水泉\", 32: \"右脚.冲阳\", 33: \"右脚.太冲\",\n        34: \"右脚.然谷\", 35: \"右脚.太白\", 36: \"右脚.申脉\", 37: \"右脚.公孙\", 38: \"右脚.京骨\",\n        39: \"右脚.金门\", 40: \"右脚.昆仑\", 41: \"右脚.商丘\", 42: \"右脚.解溪\",\n        // #4 Node 右脚\n        43: \"右脚.照海\", 44: \"右脚.足临泣\", 45: \"\", 46: \"右脚.大都\", 47: \"右脚.行间\",\n        48: \"右脚.侠溪\", 49: \"右脚.陷谷\", 50: \"右脚.足通谷\", 51: \"右脚.地五汇\", 52: \"右脚.内庭\",\n        53: \"\", 54: \"右脚.束骨\", 55: \"右脚.涌泉\", 56: \"右脚.仆参\",\n        // #5 Node 右小腿\n        57: \"右小腿.足三里\", 58: \"右小腿.丰隆\", 59: \"右小腿.承山\", 60: \"右小腿.复溜\", 61: \"右小腿.三阴交\",\n        62: \"右小腿.悬钟\", 63: \"右小腿.光明\", 64: \"右小腿.蠡沟\", 65: \"右小腿.飞扬\", 66: \"右小腿.阴陵泉\",\n        67: \"右小腿.阳陵泉\", 68: \"\", 69: \"右小腿.委中\", 70: \"右小腿.犊鼻\",\n        // #6 Node 右大腿\n        71: \"\", 72: \"\", 73: \"\", 74: \"\", 75: \"\",\n        76: \"\", 77: \"\", 78: \"\", 79: \"\", 80: \"\",\n        81: \"右大腿.血海\", 82: \"右大腿.梁丘\", 83: \"右大腿.伏兔\", 84: \"\",\n        // #7 Node 臀\n        85: \"臀.中髎\", 86: \"臀.下髎\", 87: \"臀.长强\", 88: \"\", 89: \"\",\n        90: \"\", 91: \"臀.大肠俞\", 92: \"臀.大横\", 93: \"臀.天枢\", 94: \"臀.盲俞\",\n        95: \"臀.中极\", 96: \"臀.归来\", 97: \"臀.关元\", 98: \"臀.气海\",\n        // #8 Node 臀\n        99: \"臀.上髎\", 100: \"臀.次髎\", 101: \"臀.环跳\", 102: \"\", 103: \"\",\n        104: \"\", 105: \"\", 106: \"\", 107: \"\", 108: \"\",\n        109: \"臀.志室\", 110: \"臀.肾俞\", 111: \"臀.命门\", 112: \"臀.腰阳关\",\n        // #9 Node 胸\n        113: \"胸.檀中\", 114: \"胸.膏盲\", 115: \"胸.肝俞\", 116: \"胸.章门\", 117: \"胸.日月\",\n        118: \"胸.期门\", 119: \"胸.中脘\", 120: \"胸.梁门\", 121: \"胸.至阳\", 122: \"胸.大椎\",\n        123: \"胸.大抒\", 124: \"胸.肺俞\", 125: \"胸.心俞\", 126: \"胸.脾俞\",\n        // #10 Node 头\n        127: \"头.瞳子髎\", 128: \"头.百会\", 129: \"头.四神聪\", 130: \"头.颧髎\", 131: \"头.迎香\",\n        132: \"头.阳白\", 133: \"头.承泣\", 134: \"头.攒竹\", 135: \"头.神庭\", 136: \"头.印堂\",\n        137: \"头.四白\", 138: \"头.水沟\", 139: \"头.地仓\", 140: \"头.角孙\",\n        // #11 Node 右臂\n        141: \"\", 142: \"\", 143: \"\", 144: \"\", 145: \"\",\n        146: \"\", 147: \"\", 148: \"\", 149: \"\", 150: \"\",\n        151: \"右臂.手三里\", 152: \"右臂.曲池\", 153: \"\", 154: \"\",\n        // #12 Node 右手\n        155: \"\", 156: \"\", 157: \"\", 158: \"右手.后溪\", 159: \"右手.养老\",\n        160: \"右手.支沟\", 161: \"右手.内关\", 162: \"右手.通里\", 163: \"右手.神门\", 164: \"右手.少府\",\n        165: \"右手.劳宫\", 166: \"右手.合谷\", 167: \"右手.外关\", 168: \"右手.中渚\"\n        };\n\n\nvar saved = flow.get('channels_state');\n\nfor (var i = 0; i < msg.payload.length; i++) {\n    if (msg.payload.charAt(i) != saved.charAt(i)){\n        saved = msg.payload;\n        flow.set('channels_state', saved);\n        var node_id = Math.trunc(i /14);\n        var channel_id = i % 14;\n        if (msg.payload.charAt(i) == 'T')  {\n            // msg.payload = sensor_names[i - 14] + \"穴,\" + node_id + \",\" + channel_id;\n            msg.payload = sensor_names[i - 14] + \"穴\" ;\n        }else{\n            msg=null;\n        }\n        return msg;\n    }\n}\nmsg = null;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nvar saved = 'FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF';\n\n \nflow.set('channels_state', saved);",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 560,
        "wires": [
            [
                "39fbc6921a6b0ae3",
                "11883655d2fa968a",
                "0ad16b5f039c6921"
            ]
        ]
    },
    {
        "id": "3324e72032657097",
        "type": "ui_gauge",
        "z": "25c5022b18113ab0",
        "name": "",
        "group": "c3ca28837060bb06",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "传感器原始值",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "255",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "40",
        "className": "",
        "x": 460,
        "y": 1060,
        "wires": []
    },
    {
        "id": "deddc29e35a3e93b",
        "type": "ui_text",
        "z": "25c5022b18113ab0",
        "group": "8b681e7a44312f6d",
        "order": 1,
        "width": 6,
        "height": 7,
        "name": "chating",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "11883655d2fa968a",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "historic msgs  channel only",
        "func": "var channel_msg_0 = msg.payload + \"<br>\";\nvar channel_msg_1 = flow.get('channel_msgs_0');\nvar channel_msg_2 = flow.get('channel_msgs_1');\nvar channel_msg_3 = flow.get('channel_msgs_2');\nvar channel_msg_4 = flow.get('channel_msgs_3');\nvar channel_msg_5 = flow.get('channel_msgs_4');\nvar channel_msg_6 = flow.get('channel_msgs_5');\nvar channel_msg_7 = flow.get('channel_msgs_6');\nvar channel_msg_8 = flow.get('channel_msgs_7');\n\nflow.set('channel_msgs_0', channel_msg_0);\nflow.set('channel_msgs_1', channel_msg_1);\nflow.set('channel_msgs_2', channel_msg_2);\nflow.set('channel_msgs_3', channel_msg_3);\nflow.set('channel_msgs_4', channel_msg_4);\nflow.set('channel_msgs_5', channel_msg_5);\nflow.set('channel_msgs_6', channel_msg_6);\nflow.set('channel_msgs_7', channel_msg_7);\nflow.set('channel_msgs_8', channel_msg_8);\n\nmsg.payload = channel_msg_8 + channel_msg_7 + channel_msg_6 + channel_msg_5 \n            + channel_msg_4 + channel_msg_3 + channel_msg_2 + channel_msg_1\n            + channel_msg_0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "deddc29e35a3e93b"
            ]
        ]
    },
    {
        "id": "0ad16b5f039c6921",
        "type": "ui_audio",
        "z": "25c5022b18113ab0",
        "name": "",
        "group": "8b681e7a44312f6d",
        "voice": "Google 普通话（中国大陆）",
        "always": true,
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "b5cbbba82ea1c24a",
        "type": "ui_text",
        "z": "25c5022b18113ab0",
        "d": true,
        "group": "cb37fe7741238533",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "debug node states",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "4a434dfb9fd001ea",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 1,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "3# 右脚",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000e0e",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#3 右脚",
        "x": 1000,
        "y": 20,
        "wires": []
    },
    {
        "id": "028a5041179a2256",
        "type": "inject",
        "z": "25c5022b18113ab0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "哎吆，疼啊",
        "payloadType": "str",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "0ad16b5f039c6921"
            ]
        ]
    },
    {
        "id": "f2c6f2f686109a3a",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[3]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 20,
        "wires": [
            [
                "4a434dfb9fd001ea"
            ]
        ]
    },
    {
        "id": "6cc84ff5c471d86a",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 2,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#4 右脚",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#4 右脚",
        "x": 1000,
        "y": 60,
        "wires": []
    },
    {
        "id": "e9125e5264525258",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[4]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 60,
        "wires": [
            [
                "6cc84ff5c471d86a"
            ]
        ]
    },
    {
        "id": "dc4c41dded7148c6",
        "type": "ui_dropdown",
        "z": "25c5022b18113ab0",
        "name": "",
        "label": "node",
        "tooltip": "",
        "place": "Select option",
        "group": "c3ca28837060bb06",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "3 右脚",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4 右脚",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "node",
        "topicType": "str",
        "className": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "7d38d7f7f6009eeb"
            ]
        ]
    },
    {
        "id": "550d2c62393f9613",
        "type": "ui_dropdown",
        "z": "25c5022b18113ab0",
        "name": "",
        "label": "channel",
        "tooltip": "",
        "place": "Select option",
        "group": "c3ca28837060bb06",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "0",
                "value": "0",
                "type": "str"
            },
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            },
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            },
            {
                "label": "9",
                "value": "9",
                "type": "str"
            },
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "11",
                "value": "11",
                "type": "str"
            },
            {
                "label": "12",
                "value": "12",
                "type": "str"
            },
            {
                "label": "13",
                "value": "13",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "channel",
        "topicType": "str",
        "className": "",
        "x": 160,
        "y": 920,
        "wires": [
            [
                "7d38d7f7f6009eeb"
            ]
        ]
    },
    {
        "id": "7d38d7f7f6009eeb",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "concern sensor",
        "func": "var node_id = flow.get('concerned_node_id')\nvar channel_id = flow.get('concern_channel_id');\nvar sensor_id = 0;\n\nif (msg.topic=='node') node_id = msg.payload;\nif (msg.topic=='channel') channel_id = msg.payload;\n\nflow.set('concerned_node_id', node_id);\nflow.set('concerned_channel_id', channel_id);\nsensor_id = 14* node_id + channel_id;\nmsg.payload = sensor_id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 900,
        "wires": [
            [
                "1002a0cd97b0425b",
                "f57bf6df947f6911"
            ]
        ]
    },
    {
        "id": "1002a0cd97b0425b",
        "type": "mqtt out",
        "z": "25c5022b18113ab0",
        "name": "",
        "topic": "acpt/101/concern/sensor",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 610,
        "y": 960,
        "wires": []
    },
    {
        "id": "f57bf6df947f6911",
        "type": "debug",
        "z": "25c5022b18113ab0",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "0f9860ddab52179c",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 3,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#5 右小腿",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#5 右小腿",
        "x": 1000,
        "y": 100,
        "wires": []
    },
    {
        "id": "6516eba5d0d6e7c0",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[5]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 100,
        "wires": [
            [
                "0f9860ddab52179c"
            ]
        ]
    },
    {
        "id": "30a47f1860c53cce",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 4,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#6 右大腿",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#6 右大腿",
        "x": 1000,
        "y": 140,
        "wires": []
    },
    {
        "id": "3c8207272a72b5aa",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[6]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 140,
        "wires": [
            [
                "30a47f1860c53cce"
            ]
        ]
    },
    {
        "id": "97e4679182ef9188",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 5,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#7 臀",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#7 臀",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "fd5a599495fed1ee",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[7]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 180,
        "wires": [
            [
                "97e4679182ef9188"
            ]
        ]
    },
    {
        "id": "6c05b3660b78ea41",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 6,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#8 臀",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#8 臀",
        "x": 990,
        "y": 220,
        "wires": []
    },
    {
        "id": "6d7f36d221f5e5ee",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[8]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 220,
        "wires": [
            [
                "6c05b3660b78ea41"
            ]
        ]
    },
    {
        "id": "fa2107b614c3fca5",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 7,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#9 胸",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#9 胸",
        "x": 990,
        "y": 260,
        "wires": []
    },
    {
        "id": "af58b05e50ef625e",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[9]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 260,
        "wires": [
            [
                "fa2107b614c3fca5"
            ]
        ]
    },
    {
        "id": "1dc7808bf09fda58",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 8,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#10 头",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#10 头",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "777f3972c221ae3e",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[10]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 300,
        "wires": [
            [
                "1dc7808bf09fda58"
            ]
        ]
    },
    {
        "id": "51d988942eaa3a01",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 10,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#11 右臂",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#11 右臂",
        "x": 1000,
        "y": 340,
        "wires": []
    },
    {
        "id": "ba819404251ef393",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[11]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 340,
        "wires": [
            [
                "51d988942eaa3a01"
            ]
        ]
    },
    {
        "id": "afed12cfe2fcdc61",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 9,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#12 右手",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#12 右手",
        "x": 1000,
        "y": 380,
        "wires": []
    },
    {
        "id": "f57e92ba2fac5a4c",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[12]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 380,
        "wires": [
            [
                "afed12cfe2fcdc61"
            ]
        ]
    },
    {
        "id": "a0fea679c58271f6",
        "type": "ui_led",
        "z": "25c5022b18113ab0",
        "order": 11,
        "group": "cb37fe7741238533",
        "width": 3,
        "height": 1,
        "label": "#13 测试",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00de00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "#13 测试",
        "x": 1000,
        "y": 420,
        "wires": []
    },
    {
        "id": "839d9aa2ab297c08",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "nodes_state[key]",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[13]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 420,
        "wires": [
            [
                "a0fea679c58271f6"
            ]
        ]
    },
    {
        "id": "8408438a8d4451d9",
        "type": "function",
        "z": "25c5022b18113ab0",
        "name": "old verion ui",
        "func": "\nvar saved = flow.get('channels_state_for_old');\n// node.warn(saved[0]);\nvar payload = msg.payload;\n\n// var rx_buffer = new ArrayBuffer(payload.length);\n\n\nfor (var i = 0; i < payload.length; i++) {\n    // var rx_code = payload.charCodeAt(i);\n    // var saved_code = saved[i];\n    // var x = [rx_code, saved_code]\n    // node.warn(x);\n    \n    if (payload.charAt(i) != saved.charAt(i)) {\n        // saved[i] = rx_code;\n        saved = msg.payload;\n        flow.set('channels_state_for_old', saved);\n        var tx_topic = 'actp/001/u';\n        var tx_paylod = 'OFF';\n        var node_id = 0;\n        var channel_id = 0;\n        node_id = Math.trunc(i/14);   // be interger\n        channel_id = i % 14;\n        // var x = [i, node_id, channel_id];\n        // node.warn(x);\n\n        tx_topic += (node_id + 'p' + channel_id);\n        if (msg.payload.charAt(i)=='T')\n            tx_paylod = 'ON';\n        msg.topic = tx_topic;\n        msg.payload = tx_paylod;\n        return msg;\n    }\n}\nmsg = null;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nvar saved = 'FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF';\n\nflow.set('channels_state_for_old', saved);",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 380,
        "wires": [
            [
                "188df413e64adde5"
            ]
        ]
    },
    {
        "id": "188df413e64adde5",
        "type": "mqtt out",
        "z": "25c5022b18113ab0",
        "name": "for old version",
        "topic": "",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 360,
        "y": 380,
        "wires": []
    },
    {
        "id": "4f5bcc96bbaca639",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "4b83152dafb2aae0",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "1ce8522b87deb061",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "07b37560d643206c",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "aaba0e4b4c20d5a2",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "60df4fcaeda70b29",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "38bc5671f8683833",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "8b681e7a44312f6d",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "b3c4b842ec543477",
        "type": "ui_spacer",
        "z": "25c5022b18113ab0",
        "name": "spacer",
        "group": "cb37fe7741238533",
        "order": 12,
        "width": 3,
        "height": 1
    },
    {
        "id": "d1d506186f8ae701",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3ca28837060bb06",
        "type": "ui_group",
        "name": "Debug sensor",
        "tab": "1402941662ba9f23",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b681e7a44312f6d",
        "type": "ui_group",
        "name": "消息",
        "tab": "1402941662ba9f23",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb37fe7741238533",
        "type": "ui_group",
        "name": "Node",
        "tab": "1402941662ba9f23",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1402941662ba9f23",
        "type": "ui_tab",
        "name": "针灸101",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]