apps/port1234/twh_wcs/docs/node_red.json
[
    {
        "id": "3b3b51ba9856c9a7",
        "type": "tab",
        "label": "twh_221109",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4de653eb7f393a65",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e34d0b77e994a357",
            "9fe9f9fe9086f1d8",
            "c213a3e0da97ad28",
            "d3753fb45e5c1deb",
            "335c6e903fc5ba12",
            "d1d9151529fa9614",
            "500e55b44ab7bbe0",
            "785523ae52b55175",
            "52e0069a33d33c4d",
            "e2db5e61a736c863",
            "4a59620752410914",
            "ebc558266cdde4f6",
            "d3f89f6bf0594ad0",
            "e578eda63cf299e8",
            "58578f06df7a6c48",
            "1e495594176bccce"
        ],
        "x": 1014,
        "y": 299,
        "w": 812,
        "h": 462
    },
    {
        "id": "a8a6d55221e0e356",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2194907889fcaf5e",
            "53e0fb6c61364d14",
            "1b6a81ab0242a807",
            "aca575cf51a7fceb",
            "c8f761bb8d9310a4",
            "9a77b4783887d7e1",
            "84b067d34089f090",
            "d76187e6924d6837",
            "6e51e97700ff133c",
            "fd25016442135dda",
            "1e25a4169eb9da23",
            "695f99ca3fdbe509",
            "9d16b7d103cf4a89",
            "b2808c68ffcc0d1e",
            "540617bd57a41d18"
        ],
        "x": 1054,
        "y": 819,
        "w": 792,
        "h": 382
    },
    {
        "id": "c84c3b7e4e4e3e29",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "name": "WSC & Packer",
        "style": {
            "label": true
        },
        "nodes": [
            "4515df042f4ca12c",
            "0a1002b076a4f377",
            "6411c99dfe145411",
            "6486b7be459072a9",
            "ef91955e8b81078a",
            "2759cf7743e97d72",
            "2ed7bf57592176d7",
            "102976a5101586b8"
        ],
        "x": 394,
        "y": 479,
        "w": 512,
        "h": 262
    },
    {
        "id": "2f49d52639c282ce",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "9735cab39baea92b",
            "99a7446a67e37080",
            "43269417061040c6",
            "f299406ca1080345",
            "352c06a38d9bb537",
            "20e45675ea82c094",
            "4ccdecf21c438a52",
            "241239e03e1b821a",
            "90dd8f2d1cd06319",
            "19ab188fe97163d3",
            "efebbd017fa1e3bf",
            "09279ce4a29abed2",
            "5ceff76507b422e6",
            "560cedf5ed4f811a",
            "8968b49c4941ca46"
        ],
        "x": 1094,
        "y": 1319,
        "w": 792,
        "h": 422
    },
    {
        "id": "f87b2c3cef1b0ff3",
        "type": "group",
        "z": "3b3b51ba9856c9a7",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d17b3b0fde5fb9dc",
            "71a7f4cd8356ee78",
            "5213e09b69f9a189",
            "0dcfe621d37ecdbe",
            "b8cfadcaf3f9861a",
            "497e566350a52260",
            "8f773369418e9c24",
            "f18063eb3cf06e2b",
            "f8415655b9612adb",
            "26f64c334bf78e4e",
            "0bb006031818b032",
            "59058bc5b874f7af",
            "145e12eeee3c08b7",
            "8357def19a953d1c",
            "17ec976563ac5a89"
        ],
        "x": 1094,
        "y": 1839,
        "w": 772,
        "h": 442
    },
    {
        "id": "9a77b4783887d7e1",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "topic": "wh221109/r1/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 980,
        "wires": [
            [
                "c6a98917ee49fc53",
                "84b067d34089f090",
                "ca1a6d3f8866828f"
            ]
        ]
    },
    {
        "id": "c6a98917ee49fc53",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1860,
        "y": 880,
        "wires": []
    },
    {
        "id": "84b067d34089f090",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "group": "2a40dc8bb4df1cb9",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "porter #1 state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1440,
        "y": 980,
        "wires": []
    },
    {
        "id": "4cb665c73b200ed0",
        "type": "ui_led",
        "z": "3b3b51ba9856c9a7",
        "order": 1,
        "group": "0ef930b72091b7f3",
        "width": 3,
        "height": 1,
        "label": "Row-0",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Row-0",
        "x": 2270,
        "y": 700,
        "wires": []
    },
    {
        "id": "002645253e4fd9d3",
        "type": "ui_led",
        "z": "3b3b51ba9856c9a7",
        "order": 2,
        "group": "0ef930b72091b7f3",
        "width": 3,
        "height": 1,
        "label": "Row-1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Row-1",
        "x": 2270,
        "y": 740,
        "wires": []
    },
    {
        "id": "e11b8d14574b9ed4",
        "type": "ui_led",
        "z": "3b3b51ba9856c9a7",
        "order": 3,
        "group": "0ef930b72091b7f3",
        "width": 3,
        "height": 1,
        "label": "Row-2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Row-2",
        "x": 2270,
        "y": 780,
        "wires": []
    },
    {
        "id": "b2980e428c901db5",
        "type": "ui_led",
        "z": "3b3b51ba9856c9a7",
        "order": 4,
        "group": "0ef930b72091b7f3",
        "width": 3,
        "height": 1,
        "label": "Row-3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Row-3",
        "x": 2270,
        "y": 820,
        "wires": []
    },
    {
        "id": "ba751d18e5ec8129",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "get row-0 ",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[0]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 700,
        "wires": [
            [
                "4cb665c73b200ed0"
            ]
        ]
    },
    {
        "id": "8eacf229dafdb6ea",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "get row-1",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[1]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 740,
        "wires": [
            [
                "002645253e4fd9d3"
            ]
        ]
    },
    {
        "id": "6f0cd25828921e48",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "get row-2",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[2]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 780,
        "wires": [
            [
                "e11b8d14574b9ed4"
            ]
        ]
    },
    {
        "id": "09e48c67ab0a83c6",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "get row-3",
        "func": "var states = flow.get('led_states');\nmsg.payload = states[3]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2140,
        "y": 820,
        "wires": [
            [
                "b2980e428c901db5"
            ]
        ]
    },
    {
        "id": "ca1a6d3f8866828f",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "function 11",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 760,
        "wires": [
            [
                "ba751d18e5ec8129",
                "8eacf229dafdb6ea",
                "6f0cd25828921e48",
                "09e48c67ab0a83c6"
            ]
        ]
    },
    {
        "id": "4515df042f4ca12c",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "name": "",
        "topic": "wh221109/packer/led",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 580,
        "wires": [
            [
                "0a1002b076a4f377"
            ]
        ]
    },
    {
        "id": "e34d0b77e994a357",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "topic": "wh221109/r0/gcode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "c213a3e0da97ad28"
            ]
        ]
    },
    {
        "id": "9fe9f9fe9086f1d8",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "group": "bdd0868213306b05",
        "order": 1,
        "width": 6,
        "height": "4",
        "name": "",
        "label": "gcode Row #0",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1580,
        "y": 340,
        "wires": []
    },
    {
        "id": "c213a3e0da97ad28",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "Porter #0 history",
        "func": "var channel_msg_00 = msg.payload + \"<br>\";\nvar channel_msg_01 = flow.get('channel_msgs_00');\nvar channel_msg_02 = flow.get('channel_msgs_01');\nvar channel_msg_03 = flow.get('channel_msgs_02');\nvar channel_msg_04 = flow.get('channel_msgs_03');\nvar channel_msg_05 = flow.get('channel_msgs_04');\nvar channel_msg_06 = flow.get('channel_msgs_05');\nvar channel_msg_07 = flow.get('channel_msgs_06');\nvar channel_msg_08 = flow.get('channel_msgs_07');\n\nflow.set('channel_msgs_00', channel_msg_00);\nflow.set('channel_msgs_01', channel_msg_01);\nflow.set('channel_msgs_02', channel_msg_02);\nflow.set('channel_msgs_03', channel_msg_03);\nflow.set('channel_msgs_04', channel_msg_04);\nflow.set('channel_msgs_05', channel_msg_05);\nflow.set('channel_msgs_06', channel_msg_06);\nflow.set('channel_msgs_07', channel_msg_07);\nflow.set('channel_msgs_08', channel_msg_08);\n\nmsg.payload = channel_msg_08 + channel_msg_07 + channel_msg_06 + channel_msg_05\n    + channel_msg_04 + channel_msg_03 + channel_msg_02 + channel_msg_01\n    + channel_msg_00;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 340,
        "wires": [
            [
                "9fe9f9fe9086f1d8"
            ]
        ]
    },
    {
        "id": "d3753fb45e5c1deb",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "topic": "wh221109/r0/gcode/fb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1140,
        "y": 400,
        "wires": [
            [
                "335c6e903fc5ba12"
            ]
        ]
    },
    {
        "id": "335c6e903fc5ba12",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "group": "bdd0868213306b05",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Porter #0 feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1390,
        "y": 400,
        "wires": []
    },
    {
        "id": "0a1002b076a4f377",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "group": "42e187d634295b5a",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "pack_gcode",
        "label": "Led command",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "6411c99dfe145411",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "name": "",
        "topic": "wh221109/packer/button/pick",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 640,
        "wires": [
            [
                "6486b7be459072a9"
            ]
        ]
    },
    {
        "id": "6486b7be459072a9",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "group": "42e187d634295b5a",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "button_pick",
        "label": "pick & Place (Green)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 640,
        "wires": []
    },
    {
        "id": "ef91955e8b81078a",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "name": "",
        "topic": "wh221109/packer/button/pack",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "2759cf7743e97d72"
            ]
        ]
    },
    {
        "id": "2759cf7743e97d72",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "group": "42e187d634295b5a",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "button_pack",
        "label": "Pack & Go (Blue)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 700,
        "wires": []
    },
    {
        "id": "e578eda63cf299e8",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "Move To",
        "func": "var xx = msg.payload;\nmsg.payload = 'G1X' + xx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 660,
        "wires": [
            [
                "4a59620752410914"
            ]
        ]
    },
    {
        "id": "58578f06df7a6c48",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "label": "Move To",
        "tooltip": "",
        "group": "bdd0868213306b05",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "22",
        "max": "28",
        "step": "1",
        "className": "",
        "x": 1260,
        "y": 660,
        "wires": [
            [
                "e578eda63cf299e8"
            ]
        ]
    },
    {
        "id": "2194907889fcaf5e",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "topic": "wh221109/r1/gcode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1170,
        "y": 860,
        "wires": [
            [
                "1b6a81ab0242a807"
            ]
        ]
    },
    {
        "id": "53e0fb6c61364d14",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "group": "2a40dc8bb4df1cb9",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "gcode Row #1",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1620,
        "y": 860,
        "wires": []
    },
    {
        "id": "1b6a81ab0242a807",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "Porter #1 history",
        "func": "var channel_msg_10 = msg.payload + \"<br>\";\nvar channel_msg_11 = flow.get('channel_msgs_10');\nvar channel_msg_12 = flow.get('channel_msgs_11');\nvar channel_msg_13 = flow.get('channel_msgs_12');\nvar channel_msg_14 = flow.get('channel_msgs_13');\nvar channel_msg_15 = flow.get('channel_msgs_14');\nvar channel_msg_16 = flow.get('channel_msgs_15');\nvar channel_msg_17 = flow.get('channel_msgs_16');\nvar channel_msg_18 = flow.get('channel_msgs_17');\n\nflow.set('channel_msgs_10', channel_msg_10);\nflow.set('channel_msgs_11', channel_msg_11);\nflow.set('channel_msgs_12', channel_msg_12);\nflow.set('channel_msgs_13', channel_msg_13);\nflow.set('channel_msgs_14', channel_msg_14);\nflow.set('channel_msgs_15', channel_msg_15);\nflow.set('channel_msgs_16', channel_msg_16);\nflow.set('channel_msgs_17', channel_msg_17);\nflow.set('channel_msgs_18', channel_msg_18);\n\nmsg.payload = channel_msg_18 + channel_msg_17 + channel_msg_16 + channel_msg_15\n    + channel_msg_14 + channel_msg_13 + channel_msg_12 + channel_msg_11\n    + channel_msg_10;\n\nreturn msg; ",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 860,
        "wires": [
            [
                "53e0fb6c61364d14"
            ]
        ]
    },
    {
        "id": "aca575cf51a7fceb",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "topic": "wh221109/r1/gcode/fb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 920,
        "wires": [
            [
                "c8f761bb8d9310a4"
            ]
        ]
    },
    {
        "id": "c8f761bb8d9310a4",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "group": "2a40dc8bb4df1cb9",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Porter #1 feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1430,
        "y": 920,
        "wires": []
    },
    {
        "id": "d1d9151529fa9614",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "topic": "wh221109/r0/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "500e55b44ab7bbe0"
            ]
        ]
    },
    {
        "id": "500e55b44ab7bbe0",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "group": "bdd0868213306b05",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "porter #0 state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1380,
        "y": 460,
        "wires": []
    },
    {
        "id": "2ed7bf57592176d7",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "name": "",
        "topic": "wh221109/wcs_state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "102976a5101586b8"
            ]
        ]
    },
    {
        "id": "102976a5101586b8",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "c84c3b7e4e4e3e29",
        "group": "42e187d634295b5a",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "pack_gcode",
        "label": "WCS state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "9735cab39baea92b",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "topic": "wh221109/r2/gcode/fb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 1420,
        "wires": [
            [
                "99a7446a67e37080"
            ]
        ]
    },
    {
        "id": "99a7446a67e37080",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "group": "185493217746c258",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "porter #2 feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1490,
        "y": 1420,
        "wires": []
    },
    {
        "id": "43269417061040c6",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "topic": "wh221109/r2/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1480,
        "wires": [
            [
                "f299406ca1080345"
            ]
        ]
    },
    {
        "id": "f299406ca1080345",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "group": "185493217746c258",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "porter #2 state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1500,
        "y": 1480,
        "wires": []
    },
    {
        "id": "d17b3b0fde5fb9dc",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "topic": "wh221109/r3/gcode/fb",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1220,
        "y": 1940,
        "wires": [
            [
                "71a7f4cd8356ee78"
            ]
        ]
    },
    {
        "id": "71a7f4cd8356ee78",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "group": "f89018882c09825d",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Port #3 feedback",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1470,
        "y": 1940,
        "wires": []
    },
    {
        "id": "5213e09b69f9a189",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "topic": "twh/221109/r3/state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 2000,
        "wires": [
            [
                "0dcfe621d37ecdbe"
            ]
        ]
    },
    {
        "id": "0dcfe621d37ecdbe",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "group": "f89018882c09825d",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "porter #3 state",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1480,
        "y": 2000,
        "wires": []
    },
    {
        "id": "352c06a38d9bb537",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "topic": "wh221109/r2/gcode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 1360,
        "wires": [
            [
                "20e45675ea82c094"
            ]
        ]
    },
    {
        "id": "20e45675ea82c094",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "Porter #2 history",
        "func": "var channel_msg_20 = msg.payload + \"<br>\";\nvar channel_msg_21 = flow.get('channel_msgs_20');\nvar channel_msg_22 = flow.get('channel_msgs_21');\nvar channel_msg_23 = flow.get('channel_msgs_22');\nvar channel_msg_24 = flow.get('channel_msgs_23');\nvar channel_msg_25 = flow.get('channel_msgs_24');\nvar channel_msg_26 = flow.get('channel_msgs_25');\nvar channel_msg_27 = flow.get('channel_msgs_26');\nvar channel_msg_28 = flow.get('channel_msgs_27');\n\nflow.set('channel_msgs_20', channel_msg_20);\nflow.set('channel_msgs_21', channel_msg_21);\nflow.set('channel_msgs_22', channel_msg_22);\nflow.set('channel_msgs_23', channel_msg_23);\nflow.set('channel_msgs_24', channel_msg_24);\nflow.set('channel_msgs_25', channel_msg_25);\nflow.set('channel_msgs_26', channel_msg_26);\nflow.set('channel_msgs_27', channel_msg_27);\nflow.set('channel_msgs_28', channel_msg_28);\n\nmsg.payload = channel_msg_28 + channel_msg_27 + channel_msg_26 + channel_msg_25\n    + channel_msg_24 + channel_msg_23 + channel_msg_22 + channel_msg_21\n    + channel_msg_20;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 1360,
        "wires": [
            [
                "4ccdecf21c438a52"
            ]
        ]
    },
    {
        "id": "4ccdecf21c438a52",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "group": "185493217746c258",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "gcode Row #2",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1680,
        "y": 1360,
        "wires": []
    },
    {
        "id": "b8cfadcaf3f9861a",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "topic": "wh221109/r3/gcode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1210,
        "y": 1880,
        "wires": [
            [
                "497e566350a52260"
            ]
        ]
    },
    {
        "id": "497e566350a52260",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "Porter #3 history",
        "func": "var channel_msg_30 = msg.payload + \"<br>\";\nvar channel_msg_31 = flow.get('channel_msgs_30');\nvar channel_msg_32 = flow.get('channel_msgs_31');\nvar channel_msg_33 = flow.get('channel_msgs_32');\nvar channel_msg_34 = flow.get('channel_msgs_33');\nvar channel_msg_35 = flow.get('channel_msgs_34');\nvar channel_msg_36 = flow.get('channel_msgs_35');\nvar channel_msg_37 = flow.get('channel_msgs_36');\nvar channel_msg_38 = flow.get('channel_msgs_37');\n\nflow.set('channel_msgs_30', channel_msg_30);\nflow.set('channel_msgs_31', channel_msg_31);\nflow.set('channel_msgs_32', channel_msg_32);\nflow.set('channel_msgs_33', channel_msg_33);\nflow.set('channel_msgs_34', channel_msg_34);\nflow.set('channel_msgs_35', channel_msg_35);\nflow.set('channel_msgs_36', channel_msg_36);\nflow.set('channel_msgs_37', channel_msg_37);\nflow.set('channel_msgs_38', channel_msg_38);\n\nmsg.payload = channel_msg_38 + channel_msg_37 + channel_msg_36 + channel_msg_35\n    + channel_msg_34 + channel_msg_33 + channel_msg_32 + channel_msg_31\n    + channel_msg_30;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1880,
        "wires": [
            [
                "8f773369418e9c24"
            ]
        ]
    },
    {
        "id": "8f773369418e9c24",
        "type": "ui_text",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "group": "f89018882c09825d",
        "order": 1,
        "width": 6,
        "height": 4,
        "name": "",
        "label": "gcode Row #3",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 1660,
        "y": 1880,
        "wires": []
    },
    {
        "id": "785523ae52b55175",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "label": "Home-position",
        "tooltip": "",
        "group": "bdd0868213306b05",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "29",
        "max": "31",
        "step": "0.1",
        "className": "",
        "x": 1420,
        "y": 520,
        "wires": [
            [
                "52e0069a33d33c4d",
                "ebc558266cdde4f6"
            ]
        ]
    },
    {
        "id": "52e0069a33d33c4d",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "topic": "wh221109/r0/home_position",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1680,
        "y": 520,
        "wires": []
    },
    {
        "id": "e2db5e61a736c863",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "topic": "wh221109/r0/home_position",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1160,
        "y": 520,
        "wires": [
            [
                "785523ae52b55175"
            ]
        ]
    },
    {
        "id": "4a59620752410914",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "send gcode",
        "topic": "wh221109/r0/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1690,
        "y": 620,
        "wires": []
    },
    {
        "id": "ebc558266cdde4f6",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1280,
        "y": 600,
        "wires": [
            [
                "d3f89f6bf0594ad0"
            ]
        ]
    },
    {
        "id": "d3f89f6bf0594ad0",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "Home",
        "func": "msg.payload='G28X'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 600,
        "wires": [
            [
                "4a59620752410914"
            ]
        ]
    },
    {
        "id": "540617bd57a41d18",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "Move To",
        "func": "var xx = msg.payload;\nmsg.payload = 'G1X' + xx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 1160,
        "wires": [
            [
                "b2808c68ffcc0d1e"
            ]
        ]
    },
    {
        "id": "6e51e97700ff133c",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "2a40dc8bb4df1cb9",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "22",
        "max": "28",
        "step": "1",
        "className": "",
        "x": 1220,
        "y": 1160,
        "wires": [
            [
                "540617bd57a41d18"
            ]
        ]
    },
    {
        "id": "fd25016442135dda",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "label": "Home-position",
        "tooltip": "",
        "group": "2a40dc8bb4df1cb9",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "29",
        "max": "31",
        "step": "0.1",
        "className": "",
        "x": 1440,
        "y": 1040,
        "wires": [
            [
                "1e25a4169eb9da23",
                "695f99ca3fdbe509"
            ]
        ]
    },
    {
        "id": "1e25a4169eb9da23",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "topic": "wh221109/r1/home_position",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1700,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d76187e6924d6837",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "topic": "wh221109/r1/home_position",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1200,
        "y": 1040,
        "wires": [
            [
                "fd25016442135dda"
            ]
        ]
    },
    {
        "id": "b2808c68ffcc0d1e",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "send gcode",
        "topic": "wh221109/r1/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1590,
        "y": 1120,
        "wires": []
    },
    {
        "id": "695f99ca3fdbe509",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1220,
        "y": 1100,
        "wires": [
            [
                "9d16b7d103cf4a89"
            ]
        ]
    },
    {
        "id": "9d16b7d103cf4a89",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "a8a6d55221e0e356",
        "name": "Home",
        "func": "msg.payload='G28X'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1370,
        "y": 1100,
        "wires": [
            [
                "b2808c68ffcc0d1e"
            ]
        ]
    },
    {
        "id": "8968b49c4941ca46",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "Move To",
        "func": "var xx = msg.payload;\nmsg.payload = 'G1X' + xx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1480,
        "y": 1700,
        "wires": [
            [
                "560cedf5ed4f811a"
            ]
        ]
    },
    {
        "id": "19ab188fe97163d3",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "185493217746c258",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "22",
        "max": "28",
        "step": "1",
        "className": "",
        "x": 1280,
        "y": 1700,
        "wires": [
            [
                "8968b49c4941ca46"
            ]
        ]
    },
    {
        "id": "efebbd017fa1e3bf",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "label": "Home-position",
        "tooltip": "",
        "group": "185493217746c258",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "29",
        "max": "31",
        "step": "0.1",
        "className": "",
        "x": 1480,
        "y": 1580,
        "wires": [
            [
                "09279ce4a29abed2",
                "90dd8f2d1cd06319"
            ]
        ]
    },
    {
        "id": "09279ce4a29abed2",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "topic": "wh221109/r2/home_position",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1740,
        "y": 1580,
        "wires": []
    },
    {
        "id": "241239e03e1b821a",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "topic": "wh221109/r2/home_position",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 1580,
        "wires": [
            [
                "efebbd017fa1e3bf"
            ]
        ]
    },
    {
        "id": "560cedf5ed4f811a",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "send gcode",
        "topic": "wh221109/r2/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1730,
        "y": 1680,
        "wires": []
    },
    {
        "id": "90dd8f2d1cd06319",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1260,
        "y": 1640,
        "wires": [
            [
                "5ceff76507b422e6"
            ]
        ]
    },
    {
        "id": "5ceff76507b422e6",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "2f49d52639c282ce",
        "name": "Home",
        "func": "msg.payload='G28X'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1640,
        "wires": [
            [
                "560cedf5ed4f811a"
            ]
        ]
    },
    {
        "id": "145e12eeee3c08b7",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "Move To",
        "func": "var xx = msg.payload;\nmsg.payload = 'G1X' + xx;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2240,
        "wires": [
            [
                "8357def19a953d1c"
            ]
        ]
    },
    {
        "id": "f8415655b9612adb",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "label": "numeric",
        "tooltip": "",
        "group": "f89018882c09825d",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "22",
        "max": "28",
        "step": "1",
        "className": "",
        "x": 1180,
        "y": 2240,
        "wires": [
            [
                "145e12eeee3c08b7"
            ]
        ]
    },
    {
        "id": "26f64c334bf78e4e",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "label": "Home-position",
        "tooltip": "",
        "group": "f89018882c09825d",
        "order": 6,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "29",
        "max": "31",
        "step": "0.1",
        "className": "",
        "x": 1480,
        "y": 2120,
        "wires": [
            [
                "17ec976563ac5a89",
                "0bb006031818b032"
            ]
        ]
    },
    {
        "id": "17ec976563ac5a89",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "topic": "wh221109/r3/home_position",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1720,
        "y": 2120,
        "wires": []
    },
    {
        "id": "f18063eb3cf06e2b",
        "type": "mqtt in",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "topic": "wh221109/r3/home_position",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1240,
        "y": 2120,
        "wires": [
            [
                "26f64c334bf78e4e"
            ]
        ]
    },
    {
        "id": "8357def19a953d1c",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "send gcode",
        "topic": "wh221109/r3/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 1650,
        "y": 2200,
        "wires": []
    },
    {
        "id": "0bb006031818b032",
        "type": "delay",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1200,
        "y": 2180,
        "wires": [
            [
                "59058bc5b874f7af"
            ]
        ]
    },
    {
        "id": "59058bc5b874f7af",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "g": "f87b2c3cef1b0ff3",
        "name": "Home",
        "func": "msg.payload='G28X'\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 2180,
        "wires": [
            [
                "8357def19a953d1c"
            ]
        ]
    },
    {
        "id": "1e495594176bccce",
        "type": "ui_dropdown",
        "z": "3b3b51ba9856c9a7",
        "g": "4de653eb7f393a65",
        "name": "",
        "label": "Move To",
        "tooltip": "",
        "place": "Select option",
        "group": "bdd0868213306b05",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "10",
                "value": "10",
                "type": "str"
            },
            {
                "label": "20",
                "value": "20",
                "type": "str"
            },
            {
                "label": "30",
                "value": "30",
                "type": "str"
            },
            {
                "label": "40",
                "value": "40",
                "type": "str"
            },
            {
                "label": "50",
                "value": "50",
                "type": "str"
            },
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1260,
        "y": 720,
        "wires": [
            [
                "e578eda63cf299e8"
            ]
        ]
    },
    {
        "id": "4842c559263319b4",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "name": "all move to",
        "topic": "wh221109/r0/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 810,
        "y": 80,
        "wires": []
    },
    {
        "id": "9af2d3419b026454",
        "type": "ui_numeric",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "label": "Move Together",
        "tooltip": "",
        "group": "0ef930b72091b7f3",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "step": "1",
        "className": "",
        "x": 400,
        "y": 220,
        "wires": [
            [
                "7d229b0e47fa3ad4"
            ]
        ]
    },
    {
        "id": "7d229b0e47fa3ad4",
        "type": "function",
        "z": "3b3b51ba9856c9a7",
        "name": "function 12",
        "func": "var xx= msg.payload;\nmsg.payload = 'G1X' + xx;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "4842c559263319b4",
                "01b36e444d72ad77",
                "d1121745d1e44e8f",
                "9f63a553fc1e50ae",
                "f8f48b758916b9cd"
            ]
        ]
    },
    {
        "id": "01b36e444d72ad77",
        "type": "debug",
        "z": "3b3b51ba9856c9a7",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "d1121745d1e44e8f",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "name": "all move to",
        "topic": "wh221109/r1/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 810,
        "y": 140,
        "wires": []
    },
    {
        "id": "9f63a553fc1e50ae",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "name": "all move to",
        "topic": "wh221109/r2/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "f8f48b758916b9cd",
        "type": "mqtt out",
        "z": "3b3b51ba9856c9a7",
        "name": "all move to",
        "topic": "wh221109/r3/gcode",
        "qos": "2",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc062b3cb0c01eee",
        "type": "ui_button",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "group": "0ef930b72091b7f3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "M999",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "M999",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "4842c559263319b4",
                "d1121745d1e44e8f",
                "9f63a553fc1e50ae",
                "f8f48b758916b9cd"
            ]
        ]
    },
    {
        "id": "0ad23c192e1860df",
        "type": "ui_button",
        "z": "3b3b51ba9856c9a7",
        "name": "",
        "group": "0ef930b72091b7f3",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "G28X",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "G28X",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 390,
        "y": 80,
        "wires": [
            [
                "4842c559263319b4",
                "d1121745d1e44e8f",
                "9f63a553fc1e50ae",
                "f8f48b758916b9cd"
            ]
        ]
    },
    {
        "id": "d1d506186f8ae701",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2a40dc8bb4df1cb9",
        "type": "ui_group",
        "name": "Loop porter  #1",
        "tab": "17ea2549b9b3a315",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0ef930b72091b7f3",
        "type": "ui_group",
        "name": "Loop porter state",
        "tab": "17ea2549b9b3a315",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bdd0868213306b05",
        "type": "ui_group",
        "name": "Loop porter  #0",
        "tab": "17ea2549b9b3a315",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "42e187d634295b5a",
        "type": "ui_group",
        "name": "Packer",
        "tab": "17ea2549b9b3a315",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "185493217746c258",
        "type": "ui_group",
        "name": "Loop porter #2",
        "tab": "17ea2549b9b3a315",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f89018882c09825d",
        "type": "ui_group",
        "name": "Loop porter #3",
        "tab": "17ea2549b9b3a315",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17ea2549b9b3a315",
        "type": "ui_tab",
        "name": "TWH-221109",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]