esp32_arm/src/MyLibs/pid_controllers/nodered_flow.json
[
    {
        "id": "86a0a69b03ef8e60",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b8fb4c16b3f85dd2",
        "type": "mqtt in",
        "z": "86a0a69b03ef8e60",
        "name": "",
        "topic": "vsc/j4/pid/p",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 240,
        "wires": [
            [
                "f5adaa7eac4b721b"
            ]
        ]
    },
    {
        "id": "b1df1d8601b8697f",
        "type": "mqtt in",
        "z": "86a0a69b03ef8e60",
        "name": "",
        "topic": "vsc/j4/pid/d",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "bfaab230ab64da5a"
            ]
        ]
    },
    {
        "id": "2df0e348f4f378aa",
        "type": "mqtt in",
        "z": "86a0a69b03ef8e60",
        "name": "",
        "topic": "vsc/j4/pid/i",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d1d506186f8ae701",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 300,
        "wires": [
            [
                "5fd3c8e0f816f3c5"
            ]
        ]
    },
    {
        "id": "f23f031e5c3381f5",
        "type": "mqtt out",
        "z": "86a0a69b03ef8e60",
        "name": "",
        "topic": "vsc/j4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d1d506186f8ae701",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "b16c202a7bf75dc1",
        "type": "function",
        "z": "86a0a69b03ef8e60",
        "name": "Read PID",
        "func": "var p=flow.get(\"j4_p\");\nvar i=flow.get(\"j4_i\");\nvar d=flow.get(\"j4_d\");\n\nmsg.payload=\"M130N0P\" + p + \"I\"+ i + \"D\" + d;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 300,
        "wires": [
            [
                "f23f031e5c3381f5",
                "e5c7ecf5aed50ac4"
            ]
        ]
    },
    {
        "id": "e5c7ecf5aed50ac4",
        "type": "debug",
        "z": "86a0a69b03ef8e60",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 380,
        "wires": []
    },
    {
        "id": "f5adaa7eac4b721b",
        "type": "function",
        "z": "86a0a69b03ef8e60",
        "name": "Set P",
        "func": "flow.set(\"j4_p\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 240,
        "wires": [
            [
                "b16c202a7bf75dc1"
            ]
        ]
    },
    {
        "id": "5fd3c8e0f816f3c5",
        "type": "function",
        "z": "86a0a69b03ef8e60",
        "name": "Set I",
        "func": "flow.set(\"j4_i\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "b16c202a7bf75dc1"
            ]
        ]
    },
    {
        "id": "bfaab230ab64da5a",
        "type": "function",
        "z": "86a0a69b03ef8e60",
        "name": "Set D",
        "func": "flow.set(\"j4_d\", msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 360,
        "wires": [
            [
                "b16c202a7bf75dc1"
            ]
        ]
    },
    {
        "id": "d1d506186f8ae701",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]